/*
 * ImageSelect jQuery Plugin
 *
 * lgalvin
 * http://www.liam-galvin.co.uk/imageselect
 *
 */


 .jqis{
     position:relative;
}

 .jqis_header{
     background-image: url('http://admin.biarq.com/img/dropdown_arrow.png');
     background-position: right center;
     background-repeat:no-repeat;
     cursor:pointer;
}

.jqis_header img{
     cursor:pointer;
}

.jqis_dropdown{
    padding: 5px;
    position:absolute;
    overflow-x:hidden;
    overflow-y:scroll;
}

.jqis_dropdown img{
    margin-right:3px;
    cursor:pointer;
    float:left;
}